@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
@import url('//fonts.googleapis.com/icon?family=Material+Icons')
@import url('https://unpkg.com/vue-material@0.7.1/dist/vue-material.css')
@import "constants.styl"

body
    background-color #F8F8F8
    font-family Roboto
    margin 0
    padding 0
    height 100vh

.container
    padding-top: 'calc(12px + %s)' % $header_heigth
    padding-left: $sidebar__width

.submit-block
    width 100%
    .submit
        display block
        margin auto